<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
    </head>
    <body>
        A simple physics based marble game. Made by SkidRunner (Mark E. Picknell).<br><br>
        
        Here are some ideas of how you can take it further:<br>
        1. Add a timer and display the time it takes to pick up all the cubes<br>
        2. Replace the texture of the sphere with one of your choosing.<br>
        3. Change the physics of the sphere.
    </body>
</html>
